<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Maintenance Request - Property-Versatile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

    <header>
        <h1>Property-Versatile</h1>
    </header>

    <nav>
        <a th:href="@{/index}">Home</a>
        <a th:href="@{/properties}">Properties</a>
        <a th:href="@{/maintenance}">Maintenance Requests</a>
        <a th:href="@{/weather}">Weather</a>
        <a th:href="@{/weather-map}">Weather Map</a>
        <a th:href="@{/engineers}">Engineers</a>
    </nav>

    <main>
        <h2>Create Maintenance Request</h2>

        <!-- Form for creating new maintenance requests -->
        <form th:action="@{'/maintenance/create'}" method="post" th:object="${maintenance}" class="create-maintenance-form">

            <!-- Dropdown for Property ID -->
            <label for="propertyId">Property ID:</label>
            <select id="propertyId" name="propertyId" th:field="*{propertyId}" required>
                <!-- Use Thymeleaf to iterate over the list of property IDs -->
                <option th:each="propertyId : ${propertyIds}" th:value="${propertyId}" th:text="${propertyId}">Property
                    ID</option>
            </select>

            <label for="maintenanceDate">Maintenance Date:</label>
            <input type="date" id="maintenanceDate" name="maintenanceDate" th:field="*{maintenanceDate}" required
                placeholder="dd/mm/yyyy" />



            <label for="description">Description:</label>
            <input type="text" id="description" name="description" th:field="*{description}" required />

            <label for="cost">Cost:</label>
            <input type="number" id="cost" name="cost" th:field="*{cost}" required />

            <button type="submit">Submit Maintenance Request</button>
        </form>

    </main>

    <footer>
        <p>&copy; 2023 Property-Versatile. All rights reserved.</p>
    </footer>

</body>

</html>