<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Property - Property-Versatile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

    <header>
        <h1>Property-Versatile</h1>
    </header>

    <nav>
        <a th:href="@{/index}">Home</a>
        <a th:href="@{/properties}">Properties</a>        
        <a th:href="@{/maintenance}">Maintenance Requests</a>
        <a th:href="@{/weather}">Weather</a>
        <a th:href="@{/engineers}">Engineers</a>
    </nav>

    <main>
        <h2>Delete Property</h2>

        <p>Are you sure you want to delete this property?</p>

        <!-- Form for deleting properties -->
        <form th:action="@{/properties/{propertyId}/delete(propertyId=${property.propertyId})}" method="post" th:object="${property}" class="property-form">
            <input type="hidden" id="propertyId" name="propertyId" th:field="*{propertyId}" />
            <button type="submit">Delete Property</button>
        </form>
        

        <!-- Add a cancel or back button if needed -->

    </main>

    <footer>
        <p>&copy; 2023 Property-Versatile. All rights reserved.</p>
    </footer>

</body>

</html>
