<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property-Versatile - Engineer Locations</title>
  <link th:href="@{/css/engineers.css}" rel="stylesheet" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
  <header>
    <h1>Property-Versatile</h1>
  </header>

  <nav>
    <a th:href="@{/index}">Home</a>
    <a th:href="@{/properties}">Properties</a>
    <a th:href="@{/maintenance}">Maintenance Requests</a>
    <a th:href="@{/weather}">Weather</a>
    <a th:href="@{/weather-map}">Weather Map</a>
    <a th:href="@{/engineers}">Engineers</a>
</nav>

  <div id="map"></div>

  <!-- Engineer Buttons -->
  <div id="engineerButtons">
    <button id="Electricians" class="engineer-button" style="top: 20px; right: 20px;">Electricians</button>
    <button id="GeneralOperatives" class="engineer-button" style="top: 70px; right: 20px;">General Ops</button>
    <button id="Plumbers" class="engineer-button" style="top: 120px; right: 20px;">Plumbers</button>
    <button id="RGIPlumbers" class="engineer-button" style="top: 170px; right: 20px;">RGI-Plumbers</button>
    <button id="acs" class="engineer-button" style="top: 220px; right: 20px;">AC-HVAC</button>
    <button id="anposts" class="engineer-button" style="top: 300px; right: 20px;">AnPost</button>
    <button id="opws" class="engineer-button" style="top: 350px; right: 20px;">OPW</button>
    <button id="ipss" class="engineer-button" style="top: 400px; right: 20px;">IPS</button>
    <button id="hses" class="engineer-button" style="top: 450px; right: 20px;">HSE</button>
    <button id="others" class="engineer-button" style="top: 500px; right: 20px;">Others</button>
  </div>

  <!-- Toggle Radius Buttons -->
  <div id="toggleRadiusButtons">
    <button id="ToggleElectriciansCircle" class="toggle-radius-button" style="top: 20px; right: 150px;">Toggle Radius</button>
    <button id="ToggleGeneralOperativesCircle" class="toggle-radius-button" style="top: 70px; right: 150px;">Toggle Radius</button>
    <button id="TogglePlumbersCircle" class="toggle-radius-button" style="top: 120px; right: 150px;">Toggle Radius</button>
    <button id="ToggleRGIPlumbersCircle" class="toggle-radius-button" style="top: 170px; right: 150px;">Toggle Radius</button>
    <button id="ToggleACCircle" class="toggle-radius-button" style="top: 220px; right: 150px;">Toggle Radius</button>
  </div>

  <!-- Reset Button -->
  <button id="resetButton" style="top: 580px; right: 20px; background-color: lightcoral;">RESET ALL</button>

  <script th:src="@{/js/engineers.js}"></script>
</body>

</html>
