<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property-Versatile - Weather</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

    <header>
        <h1>Property-Versatile</h1>
    </header>
    <nav>
        <a th:href="@{/index}">Home</a>
        <a th:href="@{/properties}">Properties</a>
        <a th:href="@{/leases}">Leases</a>
        <a th:href="@{/maintenance}">Maintenance Requests</a>
        <a th:href="@{/transactions}">Financial Transactions</a>
        <a th:href="@{/weather}">Weather</a>
        <a th:href="@{/engineers}">Engineers</a>
    </nav>

    <main>
        <h2>Current Weather</h2>
        <p th:text="${weatherData.current.time}"></p>
        <p th:text="${weatherData.current.temperature_2m}"></p>
        <p th:text="${weatherData.current.wind_speed_10m}"></p>

        <h2>Hourly Weather</h2>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Temperature (2m)</th>
                    <th>Wind Speed (10m)</th>
                </tr>
            </thead>
            <tbody th:each="weather, i : ${weatherData.hourly.time}">
                <tr>
                    <td th:text="${weatherData.hourly.time[i.index]}"></td>
                    <td th:text="${weatherData.hourly.temperature_2m[i.index]}"></td>
                    <td th:text="${weatherData.hourly.wind_speed_10m[i.index]}"></td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2023 Property-Versatile. All rights reserved.</p>
    </footer>

</body>

</html>
